
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
		<title>手机科技频道_手机新浪网</title>
	<meta name="keywords" content="科技,手机科技,科技频道,科技新闻,科技动态,科学技术,新浪科技" />
	<meta name="description" content="手机新浪网科技频道，二十四小时滚动报道IT业界信息；提供电信、互联网及大众科技的最新新闻，手机、数码、笔记本、家电资讯一网打尽！新浪科技触屏版 - tech.sina.cn" />
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
    <!-- <meta name="apple-mobile-web-app-capable" content="yes" />   -->
    <meta name="author" content="sina_mobile">
	<meta content="always" name="referrer">
    <meta name="format-detection" content="telephone=no">
	    <meta name="apple-mobile-web-app-title" content="新浪移动_手机新浪网">
		<link rel="apple-touch-icon-precomposed" href="https://mjs.sinaimg.cn/wap/online/public/images/addToHome/sina_114x114_v1.png">
	<script>!function(){var t=100,o=750,e=document.documentElement.clientWidth||window.innerWidth,n=Math.max(Math.min(e,480),320),h=50;320>=n&&(h=Math.floor(n/o*t*.99)),n>320&&362>=n&&(h=Math.floor(n/o*t*1)),n>362&&375>=n&&(h=Math.floor(n/o*t*1)),n>375&&(h=Math.floor(n/o*t*.97)),document.querySelector("html").style.fontSize=h+"px"}(); function rem(){var t=100,o=750,e=document.documentElement.clientWidth||window.innerWidth,n=Math.max(Math.min(e,480),320),h=50;320>=n&&(h=Math.floor(n/o*t*.99)),n>320&&362>=n&&(h=Math.floor(n/o*t*1)),n>362&&375>=n&&(h=Math.floor(n/o*t*1)),n>375&&(h=Math.floor(n/o*t*.97)),document.querySelector("html").style.fontSize=h+"px"};rem();window.onresize=function(){rem();}
	var data = {};
	</script>
	<link rel="manifest" href="https://mjs.sinaimg.cn/wap/online/component/lib/js/manifest.json">
	<link rel="stylesheet" href="https://mjs.sinaimg.cn/wap/project/channelv4/1.2.21/channel/channel.min.css">	
	
<script type="text/javascript">
	//公共全局配置文件
	var globalConfig = {
		startTime	:	new Date().getTime(), //页面开始渲染时间 ， 目前应用于：日志统计、性能统计。
		isLogin : false,//是否登陆
		sid : 38700,	//sid
		userInfo:0	}
</script>
</head>
<body>	
	 <div class="page_main">
		 		 
			<script sax-type="sax_0" type="text/html">
				<a href="<% content[0].link[0] %>" style="position:relative;display:block!important">
					<img src="<% content[0].src[0] %>" style="max-width: 100%;margin: 0 auto;display: block;" alt="<% content[0].src[1] %>" />
					<mark class="new_icon" style="position: absolute;bottom: 10px;right: 10px;width: 26px;height: 14px;line-height: 14px;text-shadow: 1px 0 #000;background-color: rgba(0,0,0,.18);color: #fff;font-size: 10px;text-align: center;">广告</mark>
				</a>
			</script>
			<div sax-type="sax_0" class="wap_20180110 sina_tj_baner" data-id="PDPS000000056555"></div>
			
			<script sax-type="sax_1" type="text/html">
				<a style="display:block!important;background:rgb(250, 250, 250);" href="<% content[0].link[0] %>">
					<div class="j_adImgUp" data-img="<% content[0].src[1] %>" style="height: 0; overflow: hidden; background: url('<% content[0].src[1] %>') 50% 0% no-repeat; background-size:100% 100%;position:relative">
						<mark class="new_icon" style="position: absolute;bottom: 10px;right: 10px;width: 26px;height: 14px;line-height: 14px;text-shadow: 1px 0 #000;background-color: rgba(0,0,0,.18);color: #fff;font-size: 10px;text-align:center">广告
						</mark>
					</div>

					<div style="position:relative;border-bottom:1px solid #D9DADC;background:#eef8ff;color:#0e84d7;font-size:17px;line-height:36px;padding:0 8px;">
						<% content[0].src[0] %>
						<div class="j_adClose" style="display:inline-block;width:25px;height:26px;position:absolute; right:0px; top:0; padding:10px 0 0 15px; z-index:111">
							<span class="j_adCloseBtn" style="display: inline-block; width: 8px; height: 8px; border-top-color: rgb(255, 204, 0); border-top-style: solid; border-top-width: 3px; border-right-color: rgb(255, 204, 0); border-right-style: solid; border-right-width: 3px; -webkit-transform: rotate(135deg); transform: rotate(135deg); position: absolute; left: 15px; top: 15px;"></span>
						</div>
					</div>
				</a>
			</script>
			<div sax-type="sax_1" class="wap_20180110 sina_tj_qp" data-id="PDPS000000056537"></div>
	<!-- 带极速模式的通头导航 -->
		 <!--header_s-->
<header class="hd_s1">
        <a href="https://sina.cn?vt=4&amp;pos=18" title="手机新浪网" class="hd_ic_lg icon_logo_m fl"></a>
        <h2 class="hd_tit_l">
						<a class="hd_tit_a" href="http://tech.sina.cn?vt=4&amp;pos=18" title="手机科技频道">科技</a>											</h2>
        <a href="http://news.sina.cn/guide.d.html?vt=4&amp;pos=18" title="网址导航" class="hd_ic icon_navigation fr"></a>
						<a class="hd_ic_img " id="j_activeRss" href="javascript:void(0)"><span>有图</span><span>无图</span></a>
		</header>
<!--header_e-->

		 
		<div id='__liveLayoutContainer'>
<div class="-live-layout-container row-fuild" data-layout-seq="__component_1" data-layout-type="layoutContainer">
			<div class="-live-page-widget">
	

<section class="topnav_box topnav_box_sp" data-close="down" id="j_comment_nav1" data-sudaclick="navlist">
			<nav class="topnav_nav">
							    				<a class="topnav_item " href="http://t.cj.sina.cn?vt=4&amp;pos=18"><span class="topnav_s" title="头条">头条</span></a>
											    				<a class="topnav_item " href="http://tech.sina.cn/t?vt=4&amp;pos=18"><span class="topnav_s" title="电信">电信</span></a>
											    				<a class="topnav_item " href="http://tech.sina.cn/i?vt=4&amp;pos=18"><span class="topnav_s" title="互联网">互联网</span></a>
											    				<a class="topnav_item " href="http://tech.sina.cn/chuangye?vt=4&amp;pos=18"><span class="topnav_s" title="创业">创业</span></a>
																<a class="topnav_item topnav_btn" href="javascript:;"><span class="topnav_s">收起</span><i class="icon_page_spread topnav_arrow"></i></a>
									</nav>
			<nav class="topnav_nav">
							    				<a class="topnav_item " href="http://mobile.sina.cn?vt=4&amp;pos=18"><span class="topnav_s" title="手机">手机</span></a>
											    				<a class="topnav_item " href="http://tech.sina.cn/q?vt=4&amp;pos=18"><span class="topnav_s" title="识趣">识趣</span></a>
											    				<a class="topnav_item " href="http://tech.sina.cn/apple?vt=4&amp;pos=18"><span class="topnav_s" title="苹果汇">苹果汇</span></a>
											    				<a class="topnav_item " href="http://zhongce.sina.cn/?vt=4&amp;pos=18"><span class="topnav_s" title="众测">众测</span></a>
											    				<a class="topnav_item " href="http://tech.sina.cn/digi?vt=4&amp;pos=18"><span class="topnav_s" title="数码">数码</span></a>
									</nav>
			<nav class="topnav_nav">
							    				<a class="topnav_item " href="http://tech.sina.cn/d?vt=4&amp;pos=18"><span class="topnav_s" title="探索">探索</span></a>
											    				<a class="topnav_item " href="http://gif.sina.cn?vt=4&amp;pos=18"><span class="topnav_s" title="GIF">GIF</span></a>
											    				<a class="topnav_item " href="http://tech.sina.cn/csj/index.d.html?vt=4&amp;pos=18"><span class="topnav_s" title="创事记">创事记</span></a>
											    				<a class="topnav_item " href="http://tech.sina.cn/vr?vt=4&amp;pos=18"><span class="topnav_s" title="VR">VR</span></a>
											    				<a class="topnav_item " href="http://tech.sina.cn/roll.d.html?vt=4&amp;pos=18"><span class="topnav_s" title="滚动">滚动</span></a>
									</nav>
		
	
		</section>



			</div>
			<div class="-live-page-widget">
<!--轮播图_s-->
<section class="s_card_white" data-sudaclick="sina_wap_common_new_focuspic">
	<section class="swiper-container">
		<ul class="swiper-wrapper">
						<li class="swiper-slide">
				<a class="show" href="http://tech.sina.cn/zt_d/ces2018?vt=4&amp;pos=18" title="直击CES：余承东回应手机入美受阻">
					
					<!-- 视频频道首页轮播图增加播放样式 -->
										
										<img class="img_width swiper-lazy" src="https://k.sinaimg.cn/n/tech/transform/w710h400/20180110/ioEp-fyqnick2250935.jpg/w710h340z1l1t1b39.jpg" data-src="https://k.sinaimg.cn/n/tech/transform/w710h400/20180110/ioEp-fyqnick2250935.jpg/w710h340z1l1t1b39.jpg" alt="直击CES：余承东回应手机入美受阻">
					<h2 class="swiper-slide_cite"><em class="swiper-slide_tit">直击CES：余承东回应手机入美受阻</em>
					</h2>
				</a>
			</li>
						<li class="swiper-slide">
				<a class="show" href="http://tech.sina.cn/mobile/xp/2018-01-09/detail-ifyqnici8343722.d.html?vt=4&amp;pos=18" title="韩雪入职新浪科技 有啥大事要发生?">
					
					<!-- 视频频道首页轮播图增加播放样式 -->
										
										<img class="img_width swiper-lazy" src="https://k.sinaimg.cn/n/tech/transform/w710h400/20180109/yUog-fyqnici8369577.jpg/w710h340z1l1t1691.jpg" data-src="https://k.sinaimg.cn/n/tech/transform/w710h400/20180109/yUog-fyqnici8369577.jpg/w710h340z1l1t1691.jpg" alt="韩雪入职新浪科技 有啥大事要发生?">
					<h2 class="swiper-slide_cite"><em class="swiper-slide_tit">韩雪入职新浪科技 有啥大事要发生?</em>
					</h2>
				</a>
			</li>
						<li class="swiper-slide">
				<a class="show" href="http://zhongce.sina.cn/article/view/6724/?vt=4&amp;pos=18" title="苹果春季发布会将发布iPhone SE 2?">
					
					<!-- 视频频道首页轮播图增加播放样式 -->
										
										<img class="img_width swiper-lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEcAAAAiAQMAAAA3R1a1AAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAAxJREFUGNNjGAVUBwABVAAB3ayOSgAAAABJRU5ErkJggg==" data-src="https://k.sinaimg.cn/n/tech/transform/w710h340/20180110/R1lL-fyqnick1061995.jpg/w710h340z1l1t1a25.jpg" alt="苹果春季发布会将发布iPhone SE 2?">
					<h2 class="swiper-slide_cite"><em class="swiper-slide_tit">苹果春季发布会将发布iPhone SE 2?</em>
					</h2>
				</a>
			</li>
					</ul>
				<aside class="swiper-pagination swiper-pagination-fraction swiper-slide_num">
			<span class="swiper-pagination-current">1</span> /
			<span class="swiper-pagination-total">3</span>
		</aside>
		  
	</section>
</section>
<!--轮播图_e-->

<script sax-type="slide" type="text/html">
        <a class="show"  href="<% content[0].link[0] %>" title="<% content[0].src[1] %>">
            <img class="swiper-lazy img_width" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABAQMAAADO7O3JAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=" data-src="<% content[0].src[0] %>" alt="" />
            <mark class="new_icon" style="position: absolute;top: 10px;right: 10px;width: 26px;height: 14px;line-height: 14px;text-shadow: 1px 0 #000;background-color: rgba(0,0,0,.18);color: #fff;font-size: 10px;text-align:center;">广告</mark>
            <h2 class="swiper-slide_cite"><em class="swiper-slide_tit"><% content[0].src[1] %></em></h2>
        </a>
</script>
<section style="display:none">
<div sax-type="slide" class="wap_20180110 swiper-slide" data-id="PDPS000000054844" data-pos="2"></div>
</section>

			</div>
			<div class="-live-page-widget">
<script>
var chModuleData = [];
var feedBak = {
	url: "//interface.sina.cn/ent/feed.d.json",
	ch : "tech",
	col : "tech",
	maxTimes : 15,
	isLongTitle : true,
	isSource : 1,
}
var tianyiApi = {
	url:"//cre.dp.sina.cn/api/v3/get?cateid=1z&cre=tianyi&mod=wtech&merge=3&statics=1",
	ch : "tech",
	isLongTitle : true,
	isSource : 1,
	length: {"first":18,"up":12,"down":12},
	channel : 130087,		pos : 18,
	 
}
</script>
<section class="s_card j_tianyi" id="j_tianyi" data-sudaclick="tianyi_data">
		<a class="ls_f">
            <b class="ls_f_b">
                <em class="ls_f_e"></em>
            </b>
        </a>
	<a class="ls_f">
            <b class="ls_f_b">
                <em class="ls_f_e"></em>
            </b>
        </a>
	<a class="ls_f">
            <b class="ls_f_b">
                <em class="ls_f_e"></em>
            </b>
        </a>
	<a class="ls_f">
            <b class="ls_f_b">
                <em class="ls_f_e"></em>
            </b>
        </a>
	<a class="ls_f">
            <b class="ls_f_b">
                <em class="ls_f_e"></em>
            </b>
        </a>
	</section>


			</div>
</div>
<style>
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.row-fluid > [class*="span"] {
  float: left;
  margin-left: 2.127659574%;
}
.row-fluid > [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid > .span12 {
  width: 99.99999998999999%;
}
.row-fluid > .span11 {
  width: 91.489361693%;
}
.row-fluid > .span10 {
  width: 82.97872339599999%;
}
.row-fluid > .span9 {
  width: 74.468085099%;
}
.row-fluid > .span8 {
  width: 65.95744680199999%;
}
.row-fluid > .span7 {
  width: 57.446808505%;
}
.row-fluid > .span6 {
  width: 48.93617020799999%;
}
.row-fluid > .span5 {
  width: 40.425531911%;
}
.row-fluid > .span4 {
  width: 31.914893614%;
}
.row-fluid > .span3 {
  width: 23.404255317%;
}
.row-fluid > .span2 {
  width: 14.89361702%;
}
.row-fluid > .span1 {
  width: 6.382978723%;
}
.-live-layout-column {min-height:1px;}
.-live-page-widget {
  *zoom: 1;
}
.-live-page-widget:before,
.-live-page-widget:after {
  display: table;
  content: "";
}
.-live-page-widget:after {
  clear: both;
}
</style>

</div>		 	<footer class="ft_cm">
			<nav class="ft_cm_nav">
				<a class="ft_cm_nav_a" href="//sina.cn?vt=4&amp;pos=18">首页</a>
				<a class="ft_cm_nav_a" href="http://news.sina.cn/?vt=4&amp;pos=18&amp;sa=t124d8889597v84">导航</a>
				<a class="ft_cm_nav_a" href="http://lives.sina.cn/live/live?vt=4&amp;pos=108&amp;id=314&amp;live_mg=sports">反馈</a>
									<a href="https://passport.sina.cn/signin/signin?vt=4&amp;pos=18&amp;entry=wapsso&amp;r=http%3A%2F%2Ftech.sina.cn%2Findex.d.html" class="ft_cm_nav_a" id="footer_entry" rel="nofollow">登录</a>
			</nav>        
			<cite class="ft_cite">Sina.cn(京ICP0000007) 01-10 17:14</cite>  
	</footer>

		</div>
				
		

		<!--SUDA布码start-->
		<script type="text/javascript">
		//SUDA日志统计 具体内容服务端生成 
		var sudaLogConfig={
			uId:'',//用户ID
			url:'',//wap版对应的PC版地址
			prevPageClickTime:'',//性能统计，不使用suda_map可省略，prevPageClickTime表示上次页面点击链接开始请求的时间
			backOff : true,
			ext1 : '' 
		}
		window.wap_class = 'wap_20180110';
		</script>		
		<script src="https://mjs.sinaimg.cn/umd/base-tools-SUDA/0.0.26/index.all.min.js"></script>
<!--SUDA布码end-->
	<script src="https://mjs.sinaimg.cn/wap/public/suda/201704271600/suda_map.min.js"></script> 
	<script type="text/javascript"> 
		//SUDA地图统计 
		var sudaMapConfig = { 
			uId:'', // 用户uid，如果用户没登陆，可以为空 
			pageId : '3076' //必填，我会提供 
		}; 
		suda_init(sudaMapConfig.pageId, 100); 
	</script>
	<script src="https://mjs.sinaimg.cn/wap/online/public/qusetMobile/201705221616/js/quset_mobile.min.js"></script> 
		
				<script>
			var __pushConfig={
						__isPush:false,
						__isBanner:false,
						__pushWaitTime:1,
						__isNotScheme:true
					};
			var leftArt=0;
			var isHuidu=1;
			//博客、军事、娱乐、科技、女性、星座、教育、健康增加配置字段 saxHuidu=1 标识
			var saxHuidu=1;
			var errlog=1;
			//isChangeSax=true 切换广告域名
			var isChangeSax=1;
		</script>
		<script src='https://mjs.sinaimg.cn/wap/project/channelv4/1.2.35/channel/channel.min.js' crossorigin></script>			<script src="https://mjs.sinaimg.cn/wap/online/public/addHistoryUrl/addHistoryUrl.min.js?v=6"></script>
			<div style="display:none" >
           <img src="//sax.sina.cn/view?type=adtest" alt="">
                </div>
        <script>
            // PWA
            if ('serviceWorker' in navigator && location.href.indexOf("sinapwa=1") == -1) {
                navigator.serviceWorker
                .register('./service-worker.js')
                .then(function () {
                    if (window.SIMA && window.SIMA.suda_count) {       
                        window.SIMA.suda_count({
                            'type' : 'techPwa',  //曝光的类型
                            'name' : 'techPwaReg',  //当前点击的aid关键字 
                            'title': '科技首页pwa上报日志', //中文说明
                            'index': 0  //索引  如果是单个为0即可
                        });
                    };
                    console.log('Service Worker Registered');
                })
                .catch(function (err) {
                    console.log(err);
                })
						}
						if (window.matchMedia('(display-mode: standalone)').matches) {
							alert("支持pwa")
						}
        </script>
</body>
</html>